my

.refresh

.DS_Store

__pycache__

.ipynb_checkpoints/

.vscode/

__res/

perf.data

perf.data.old

*.swp

*.ipynb

*.pdf

*.zip

*.tgz

*.obj

test.py

extern/mkl/mkldnn_lnx*/*



build/

venv/


python/jittor.egg-info

dist/

!doc/source/*

core

__data__
logs

data/scene/*

