my

.refresh

.DS_Store

__pycache__

.ipynb_checkpoints/

.vscode/

__res/

perf.data

perf.data.old

*.swp

*.ipynb

*.pdf

*.zip

*.tgz

*.obj

test.py

extern/mkl/mkldnn_lnx*/*

test_*.python

data/scene_*

data/scene

test_*.py

data/**/temp

data/**/output_dev



build/

venv/


python/jittor.egg-info

dist/

!doc/source/*

core

__data__
logs
